<!doctype html>

<html>

<head>
    {% extends 'base.html' %}
    {% load static %}

    {% block additional_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_register/login_style.css' %}">
    {% endblock %}
</head>

<body>

    {% block content %}


    <div class="container-fluid main-window">
        
        {% block alerts %}
        {% if not register_form.errors and is_register %}
        <div id="succesful_send_alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Pomyślnie utworzono konto</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        {% endblock %}
        {% if not register_form.errors and not login_form.errors %}
        <div class="to-fade">
        {% endif %}
              
        <div class="row  no-gutters w-100 ">
            {% if not register_form.errors and is_register%}
            {% endif %}
            <div class="col-12 header"><h1>UltimeTea</h1> </div>
        </div>
        

        <div class="row  no-gutters w-100 main">         
            <div class="col-2 col-sm-1 col-md-2 col-lg-3"></div>

            <div class="col-8 col-sm-5 col-md-4 col-lg-3 login text-center">
                <div class="log-c">
                    <h3 class="text-center mb-3">Zaloguj się</h3>                   
                    <!-- Login form PL -->
                    <form method="POST" id="login_form"> {% csrf_token %}
                        <div class="log-c__name-pass">
                            <h4>Login lub Email</h4> {{ login_form.login_username}}
                            <h4> Hasło </h4> {{login_form.password}}
                            <div class="log-c__rem">{{login_form.remember_me}} Zapamiętaj mnie</div>
                            <button type="submit" name='login' class="btn btn-primary btn-lg log-in"> Zaloguj się </button>
                            <a href="{% url 'auth:password_reset' %}"class="log-c__pass-for">Nie pamiętasz hasła?</a>
                        </div>                                                                 
                    </form>

                </div>
                <img src="{% static 'login_register/media/Line.png' %}" class="line d-none d-sm-inline-block">
            </div>

            <div class="col-2 d-sm-none"></div>

            <div class="col-2 d-sm-none"></div>

            <div class="col-8 col-sm-5 col-md-4 col-lg-3 register text-center">
                <h3 class="text-center mb-3">Utwórz konto</h3>

                <form method="POST" id="register_form"> {% csrf_token %}
                    <div class="register_form">
                        <h4>Nazwa użytkownika</h4> {{ register_form.username}} 
                        <h4>E-mail</h4> {{register_form.email}} 
                        <h4>Hasło</h4> <div style="display: flex;" >{{register_form.password1}} <img src="{% static 'login_register/media/Eye.png' %}" id="eye" class="eye" onclick="show_password('reg_id_password')"> </div>
                            <div id="e_pass" class="e_text drop-menu">
                                <ul class="e_text">
                                <li id="len" class="invalid-text">Miniumum 8 znaków</li>
                                <li id="special-char" class="invalid-text"> Przynajmniej 1 znak specjalny</li>
                                <li id="big-letter" class="invalid-text">Przynajmniej 1 wielka litera</li>
                                <li id="digit" class="invalid-text">Conajmniej jedna liczba</li>
                                </ul>
                            </div>
                        <h4>Powtórz hasło</h4> {{register_form.password2}} <div id="e_repass" class="e_text">Hasła nie są takie same</div>

                        <button type="submit" name='register' class="btn btn-primary btn-lg log-in" style="margin-top: 8px;">Zarejestruj
                            się</button>
                    </div>
                    
                   
                </form>
            </div>
            

            <div class="col-2 col-sm-1 col-md-2 col-lg-3 "></div>
        </div>
        {% if not register_form.errors and not login_form.errors %}
        </div>
        {% endif %}
    </div>
    </div>

    {% endblock %}
    {% block scripts %}
    <script>
        var x = document.getElementById("id_password1");
        x.classList.add("log-in", "register-password");
        x.id = "reg_id_password";
        x = document.getElementById("id_password2");
        x.classList.add("log-in", "register-re-password");
        x.id = "id_re_password";

    document.onreadystatechange = function() {
    if (document.readyState !== "complete") {
        document.querySelector("body").style.visibility = "hidden";
    } else {
        document.querySelector("body").style.visibility = "visible";
    }
    };

    </script>

    <script src="{% static 'login_register/scripts/buttons_availability.js' %}"> </script>
    <script src="{% static 'login_register/scripts/password_preview.js' %}"> </script>
    <script src="{% static 'login_register/scripts/server_side_errors.js' %}"> </script>
    <script src="{% static 'login_register/scripts/password_check.js' %}"> </script>
    <script src="{% static 'login_register/scripts/username_check.js' %}"> </script>

    {% if register_form.errors and is_register %}
    {% if register_form.errors.username %}
    <script>
        document.onload = server_error("{{register_form.errors.username.0}}", "id_username");
    </script>
    {% elif register_form.errors.email %}
    <script>
        document.onload = server_error("{{register_form.errors.email.0}}", "id_email");
    </script>
    {% endif %}
    
    {% elif login_form.errors and is_login %}
    {% if login_form.errors.login_username %}
    <script>
        document.onload = server_error("{{login_form.errors.login_username.0}}", "id_email_or_username");
    </script>
    {% elif login_form.errors.password %}
    <script>
        document.onload = server_error("{{login_form.errors.password.0}}", "log_id_password");
    </script>
    {% endif %}
    
    {% endif %}
    {% endblock %}

</body>

</html>