<!doctype html>

<html>

<head>
    {% extends 'base.html' %}
    {% load static %}
    {% block additional_styles %}
    <style>
        #password_reset_box {
            background-color: rgba(245, 245, 245, 0.91);
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(164, 164, 164, 0.91);
        }
    </style>
    {% endblock %}
</head>

<body>
    {% block forms %}
    <div id="password_reset_box">
        <h4>Pomyślnie zmieniono hasło <br> <a href="{% url 'auth:login_register' %}">Przejdź do strony logowania</a></h4>
    </div>
    {% endblock %}

</body>

</html>