<!doctype html>

<html>

<head>
    {% extends 'base.html' %}
    {% load static %}
    {% block additional_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_register/reset_password_style.css' %}">
    {% endblock %}
</head>

<body>
        {% block alerts %}
        {% if reset_password_form.errors.email %}
            <div id="error_alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{reset_password_form.errors.email.0}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% endblock %}

        {% block forms %}
        <div id="password_reset_box">
            <div>
                <h4>Podaj swój email</h4>
                <form method="POST" id="password_reset"> {% csrf_token %}
                    <div class="log-c__name-pass">
                        {{ reset_password_form.email }}
                    </div>
                    <button type="submit" name='login' class="btn btn-primary btn-lg log-in">Resetuj hasło</button>
                </form>
            </div>
            <a href="{% url 'auth:login_register' %}">Powrót do logowania</a>
        </div>
        {% endblock %}


</body>

</html>