<!doctype html>

<html>

<head>
    {% extends 'base.html' %}
    {% load static %}
</head>

<body>
    {% block content %}
    <div class="container-fluid h-100 main-window">

            <div class="row  no-gutters w-100 ">
                <div class="col-12">
                    <h1>UltimeTea</h1>
                </div>
            </div>

            <div class="row  no-gutters w-100 main">
                <div class="col-2 col-sm-1 col-md-2 col-lg-3"></div>

                <div class="col-8 col-sm-5 col-md-4 col-lg-3 login text-center">
                    <div class="log-c">
                        <form method="POST" id="login_form"> {% csrf_token %}
                            <div class="log-c__name-pass">
                                {{ reset_password_form.as_p }}                              
                            </div>
                            <button type="submit" name='login' class="btn btn-primary btn-lg log-in"> Resetuj hasło</button>
                        </form>

                    </div>
                </div>

                <div class="col-2 d-sm-none"></div>

                <div class="col-2 d-sm-none"></div>
            </div>
    </div>
    {% endblock %}

</body>

</html>