<!doctype html>

<html>

<head>
    {% extends 'base.html' %}
    {% load static %}
    {% block additional_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_register/reset_password_style.css' %}">
    {% endblock %}
</head>

<body>
    {% block alerts %}
        {% if change_password_form.errors.password %}
        <div id="error_alert" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{change_password_form.errors.password.0}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
    {% endblock %}

    {% block forms %}
    <div id="password_reset_box">
        <h3 class="text-center mb-3">Wprowadź nowe hasło</h3>
        <form method="POST" id="register_form"> {% csrf_token %}
            <div class="register_form">
                    <h4>Nowe hasło</h4> <div style="display: flex;" > {{change_password_form.password}}  <img src="{% static 'login_register/media/Eye.png' %}" id="eye" class="eye" onclick="show_password('register-password')"> </div>
                    <div id="e_pass" class="e_text drop-menu">
                        <ul class="e_text">
                            <li id="len" class="invalid-text">Miniumum 8 znaków</li>
                            <li id="special-char" class="invalid-text"> Przynajmniej 1 znak specjalny</li>
                            <li id="big-letter" class="invalid-text">Przynajmniej 1 wielka litera</li>
                            <li id="digit" class="invalid-text">Conajmniej jedna liczba</li>
                        </ul>
                    </div>
                    <h4>Powtórz hasło</h4> {{change_password_form.re_password}} <div id="e_repass" class="e_text" style="padding-bottom: 6px;">Hasła nie są takie same</div>
                <button type="submit" name='login' class="btn btn-primary btn-lg log-in">Zmień hasło</button>
            </div>
        </form>

    </div>
    {% endblock %}

    {% block scripts %}
    <script>
    var register_form = document.getElementById("register_form")
        register_form.onsubmit = validate_form;
        function validate_form() {
            
            if (register_form["password"].classList.contains("invalid")) 
            {
                reset_animation(register_form["password"]);
                register_form["password"].style.animation = "highlight 1.5s";
                return false;
            }
            else if (register_form["re_password"].classList.contains("invalid")) 
            {
                reset_animation(register_form["re_password"]);
                register_form["re_password"].style.animation = "highlight 1.5s";
                return false;
            }
            return true;
        }

        function reset_animation(element) {
            element.style.animation = "none";
            element.offsetHeight;
            element.style.animation = null;
        }
    </script>
    <script src="{% static 'login_register/scripts/password_preview.js' %}"> </script>
    <script src="{% static 'login_register/scripts/password_check.js' %}"> </script>
    {% endblock %}


</body>

</html>