
{% extends 'base.html' %}
{%block head%}
    {%if title%}
        <title>UltimaTea-{{title}}</title>
    {%else%}
        <title>UltimaTea</title>
    {%endif%}  
    <link rel="stylesheet" type="text/css" href="/static/main/main_styles.css">
{%endblock head%}


{%block content%}
<div class="box main_center" style="background-color: seashell; height: 87%; width: 82%; ">
    <div class="infoBar row" style="background-color: beige; height: 15%; margin: 0;">
        Informacyjny bar
    </div>
    <div class="containerRow" style="background-color: gold; height: 85%; width: 100%; display: flex;">
        <div class="containerMenu" style="background-color: grey; width: 29%">
            {%include "main/menu.html"%}
        </div>
        <div class="containerSeparator" style="background-color: gainsboro; width: 1%">
            
        </div>
        <div class="containerContent" style="background-color: blue; width: 77%">
            {%block main_content%}
            {%endblock main_content%}
        </div>
    </div>
        
        
</div>
{%endblock content%}

