
{% extends 'base.html' %}
{%block head%}
    {%if title%}
        <title>UltimaTea-{{title}}</title>
    {%else%}
        <title>UltimaTea</title>
    {%endif%}
{%endblock head%}

{%block content%}
<div class="container-fluid h-100">
    <div class="container row h-100">
        <div class = "menu col-3">
            {%include "main/menu.html"%}
        </div>
        <div class="content col-9 container-fluid">
            <div class="main_content row h-100">
                <div class="content col-12">
                    {% block main_content %}{% endblock main_content%}
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock content%}

