{%extends "main/base.html"%}
{%block main_content%}
<div class="mainContent" style="width: 100%; height: 100%; background-color: aqua;">
    <div class="mainTop" style="width: 100%; height: 10%; background-color: darkblue;">
        <div class="topSearch" style="width: 30%; height: 100%; margin: auto; background-color: aliceblue;">
            Wyszukiwarka
        </div>

    </div>
    <div class="mainRecipes" style="width: 100%; height: 60%; display: flex; background-color: indigo;">
        <div class="leftScroll" style="width: 10%; height: 100%;background-color: maroon;">
            <<
        </div>
        <div id="recipesDisplay" class="recipesDisplay" style="width: 80%; height: 100%; display: flex; background-color: violet;">
            
            
        </div>

        <div class="rightScroll" style="width: 10%; height: 100%; background-color: black;">
            >>
        </div>

    </div>
    <div class="mainBottom" style="width: 100%; height: 30%; background-color: aliceblue;">
        <div class="bottomButton" style="width: 100%; height: 50%; background-color: cadetblue;">
            Przycisk robienia
        </div>
        <div class="bottomText" style="width: 100%; height: 50%; background-color: violet;">
            Szacowany czas przygotowania
        </div>
    </div>
</div>
{%endblock main_content%}

{%block scripts%}
{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script src="static/main/scripts/home_scripts.js"> </script>
<script>
    loadRecipes(1, 3, csrftoken)
    loadMachineInfo(csrftoken)
</script>
{%endblock scripts%}