<div class="infoBox" style="display: flex; width: 100%;">

    <div class="statusInfo" style="height: 100%; width: 20%;">
        <div class="centerIn">
            <div class="in flexContainer column" style="height: 70%; width: 70%; background-color: rgb(235,245,235);">
                <div class="as">
                    Zalogowany jako
                </div>
                <div class="username">
                    {{username}}
                </div>
            </div>
        </div>
    </div>

    <div class="statusesInfo" style="display: flex; height: 100%; justify-content: flex-end; width: 100%;">
        {%for info in infos%}
        <div class="infoStatus" style="height: 100%; width: 15%; display: block;">
            <div class="filler" style="height: 20%;">
                
            </div>
            <div class="name" style="height: 20%; font-size: 1.2vw; margin-bottom: 5.2771%; margin-left:4%;">
                {{info.name}}
            </div>
            <div class="centerIn" style="height: 30%;">
                <div class="in" style="height: 80%; width: 90%; display: block; border-style: solid; border-radius: 5px; background-color: rgb(255,255,255);">
                    <div class="progressBar" style="height: 100%; width: {{info.value}}%; background-color: green;">
                        
                    </div>
                </div>
            </div>
            <div class="filler" style="height: 30%;">
                
            </div>
        </div>
        {%endfor%}
    </div>

</div>