
<div style="width:90%;height:auto;margin:20px; margin-top: 5%; margin-bottom: 5%;"></div>
<div class="centerIn fill" style="height: 7%;">
    <button class = "in" style="width: 90%; height: 90%; font-size: 1.3vw;" onclick=location.href="{% url 'app:main_home' %}"  type="button">
        Przygotuj herbatę
    </button><br />
</div>

<div class="centerIn fill" style="height: 7%;">
    <button class = "in" style="width: 90%; height: 90%; font-size: 1.3vw;" onclick=location.href="{% url 'app:main_edit_tea' %}"  type="button">
        Edytuj przepisy
    </button><br />  
</div>


<div class="centerIn fill" style="height: 7%;">
    <button class = "in" style="width: 90%; height: 90%; font-size: 1.3vw;" onclick=location.href="{% url 'app:main_browse_recipes' %}"  type="button">
        Przeglądaj przepisy
    </button><br />  
</div>


<div class="centerIn fill" style="height: 7%;">
    <button class = "in" style="width: 90%; height: 90%; font-size: 1.3vw;" onclick=location.href='{% url 'app:main_configure_ingredients' %}'  type="button">
        Edytuj składniki 
    </button><br />  
</div>


<div class="centerIn fill" style="height: 7%;">
    <button class = "in" style="width: 90%; height: 90%; font-size: 1.3vw;" onclick=location.href='{% url 'app:main_status' %}' type="button">
        Status urządzenia
    </button><br />
</div>


<div class="centerIn fill" style="height: 7%;">
    <button class = "in" style="width: 90%; height: 90%; font-size: 1.3vw;" onclick=location.href='{% url 'app:main_edit_profile' %}' type="button">
    Edytuj profil 
</button><br />
</div>

<div class="centerIn fill" style="height: 45%; ">
</div>

<div class="centerIn fill" style="height: 7%; ">
    <button class = "in text" style="width: 90%; height: 90%; font-size: 1.3vw;" onclick=location.href='{% url "auth:logout" %}' type="button">
        Wyloguj
    </button><br />
</div>

