
<div style="width:90%;height:auto;margin:20px; margin-top: 5%; margin-bottom: 5%;"></div>
<div class="centerIn fill" style="height: 5%;">
    <button class = "in" style="width: 90%; height: 90%;" onclick=location.href=''  type="button">
        Przygotuj herbatę
    </button><br />
</div>

<div class="centerIn fill" style="height: 5%;">
    <button class = "in" style="width: 90%; height: 90%;" onclick=location.href=''  type="button">
        Edytuj przepisy
    </button><br />  
</div>


<div class="centerIn fill" style="height: 5%;">
    <button class = "in" style="width: 90%; height: 90%;" onclick=location.href=''  type="button">
        Przeglądaj przepisy
    </button><br />  
</div>


<div class="centerIn fill" style="height: 5%;">
    <button class = "in" style="width: 90%; height: 90%;" onclick=location.href=''  type="button">
        Edytuj składniki
    </button><br /> 
</div>


<div class="centerIn fill" style="height: 5%;">
    <button class = "in" style="width: 90%; height: 90%;" onclick=location.href='' type="button">
        Status urządzenia
    </button><br />
</div>


<div class="centerIn fill" style="height: 5%;">
    <button class = "in" style="width: 90%; height: 90%;" onclick=location.href='' type="button">
    Edytuj profil
</button><br />
</div>

<div class="centerIn fill" style="height: 60%; ">
</div>

<div class="centerIn fill" style="height: 5%; ">
    <button class = "in" style="width: 90%; height: 90%;" onclick=location.href='' type="button">
        Wyloguj
    </button><br />
</div>

