
<div style="width:90%;height:auto;margin:20px"></div>
<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "main_make_tea" %}'  type="button">
    Przygotuj cherbatę
</button><br />

<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "main_edit_tea" %}'  type="button">
    Edytuj przepisy
</button><br />  

<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "main_search_recipes" %}'  type="button">
    Przeglądaj przepisy
</button><br />  

<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "main_configure_ingredients" %}'  type="button">
    Edytuj składniki
</button><br /> 

<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "main_status" %}' type="button">
    Status urządzenia
</button><br />

<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "main_edit_profile" %}' type="button">
    Edytuj profil
</button><br />

