
<div style="width:90%;height:auto;margin:20px"></div>
<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "main_home" %}'  type="button">
    Strona Główna
</button><br />

<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "main_main_recipes" %}'  type="button">
    Moje Przepisy
</button><br />  

<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "main_recipes" %}'  type="button">
    Przepisy
</button><br />  

<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "main_configuration" %}'  type="button">
    Ustawienia Urządzenia</button><br /> 

<button style="width:90%;height:auto;margin:5px" onclick=location.href='{% url "login_register" %}' type="button">
    Zaloguj
</button><br />

    
