{% load static %}
{% if blank %}

    <div  value="0" class="recipeDisplayed recipe_0 centerIn">

        <div id="createRecipe" class="in single_recipe" style="width: 95%; height: 97%; border-radius: 5px; background-color: rgb(255,255,255); " onclick="create_recipe()">
        <img src="{% static 'main/media/add_recipe.png' %}" id="createRecipeImg">
        </div>
    </div>
    <div  style="width:5%;visibility: hidden;">
    <div id="full_hearth_ico" class="ico_box"></div>
    <div id="empty_hearth_ico" class="ico_box"></div>
    <div id="pencil_ico" class="ico_box"></div>
    <div id="trash_ico"  class="ico_box"></div>
    </div>
{% endif %}

{% for recipe in recipes %}
<div  value="{{recipe.id}}" class="recipe_{{recipe.id}} centerIn recipeDisplayed">
    <div id="recipesDisplayed{{recipe.id}}" class="in single_recipe" style="width: 95%; height: 97%; border-radius: 5px; background-color: rgb(255,255,255); " onclick="toggle_select('recipesDisplayed{{recipe.id}}')">
        <div class="recipeTitle centerIn" style="width: 100%; height: 10%;">
            <div class="teaName in" id="teaName_{{recipe.id}}"> 
                {{recipe.title}}
            </div>
        </div>
        <div class="recipeBorder centerIn" style="width: 100%; height: 1%;">
            <div class="in borderSec"></div>
        </div>
        <div class="recipeContent" style="width: 100%; height: 84%;">
            <div class="recipeIngredients centerIn" style="width: 100%; height: auto;">
                <div class="in" style="width: 100%; height: 100%">
                    <div class="dataTitle dataPos recipeTitle" style="width: 100%; height: 20%">Skłdaniki</div>
                    <div class="data" style="width: 100%; height: 80%; display: flex;">
                        <div class="names" style="width: 69%; height: 100%;">
                            {%for ingreditntName in recipe.ing_names%}
                            <div class="dataPos recipePosition igName_{{recipe.id}}">{{ingreditntName}}</div>
                            {%endfor%}
    
                        </div>
                        <div style="height: auto; width: 1;"> <div style="height: 10%;"></div> <div class="borderSec-ver"></div></div>
                        <div class="quantity" style="width: 30%; height: 100%;">
                            {%for ingreditntQuantity in recipe.ing_qua%}
                            <div class="dataPos recipePosition igQuan_{{recipe.id}}" value="{{ingreditntQuantity.value}}">{{ingreditntQuantity.value}} {{ingreditntQuantity.unit}}</div>
                            {%endfor%}
    
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipeTemperatures centerIn" style="width: 100%; height: auto;">
                <div class="in" style="width: 100%; height: 100%">
                    <div class="dataTitle dataPos recipeTitle" style="width: 100%; height: 20%">Temperatury</div>
                    <div class="data" style="width: 100%; height: 80%; display: flex;">
                        <div class="names" style="width: 69%; height: 100%;">
                            {%for tempName in recipe.tem_name%}
                            <div class="dataPos recipePosition tempName_{{recipe.id}}">{{tempName}}</div>
                            {%endfor%}
    
                        </div>
                        <div style="height: auto; width: 1;"> <div style="height: 5%;"></div> <div class="borderSec-ver"></div></div>
                        <div class="quantity" style="width: 30%; height: 100%;">
                            {%for temVal in recipe.tem_val%}
                            <div class="dataPos recipePosition tempAm_{{recipe.id}}" value="{{temVal}}">{{temVal}} &#8451</div>
                            {%endfor%}
    
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipeTimes centerIn" style="width: 100%; height: auto;">
                <div class="in" style="width: 100%; height: 100%">
                    <div class="dataTitle dataPos recipeTitle" style="width: 100%; height: 20%">Czasy</div>
                    <div class="data" style="width: 100%; height: 80%; display: flex;">
                        <div class="names" style="width: 69%; height: 100%;">
                            {%for timNam in recipe.tim_nam%}
                            <div class="dataPos recipePosition timName_{{recipe.id}}">{{timNam}}</div>
                            {%endfor%}
    
                        </div>
                        <div style="height: auto; width: 1;"> <div style="height: 5%;"></div> <div class="borderSec-ver"></div></div>
                        <div class="quantity" style="width: 30%; height: 100%;">
                            {%for timVal in recipe.tim_val%}
                            <div class="dataPos recipePosition timAm_{{recipe.id}}" value="{{timVal}}">{{timVal}} s</div>
                            {%endfor%}
      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% if type == "edit" %}
        <div id="icons">
        {% if recipe.favourite %}
        <div id="full_hearth_ico_{{recipe.id}}" value={{recipe.id}} class="full_hearth_ico ico_box" onclick="delete_from_favourites(this);" style="z-index: 1;"> <img src="{% static 'main/media/heart-fill.svg' %}" alt="" class="ico on" ></div>
        <div id="empty_hearth_ico_{{recipe.id}}" value={{recipe.id}} class="empty_hearth_ico ico_box" onclick="add_to_favourites(this);" ><img src="{% static 'main/media/heart.svg' %}" alt="" class="ico"></div>
        {% else %}
        <div id="full_hearth_ico_{{recipe.id}}" value={{recipe.id}} class="full_hearth_ico ico_box " onclick="delete_from_favourites(this);" ><img src="{% static 'main/media/heart-fill.svg' %}" alt="" class="ico"></div>
        <div id="empty_hearth_ico_{{recipe.id}}" value={{recipe.id}} class="empty_hearth_ico ico_box " onclick="add_to_favourites(this);" style="z-index: 1;" ><img src="{% static 'main/media/heart.svg' %}" alt="" class="ico"></div>
        {% endif %}
        <div id="pencil_ico_{{recipe.id}}" value={{recipe.id}} class="pencil_ico ico_box " onclick="edit_recipe(this);"><img src="{% static 'main/media/pencil-square.svg' %}" alt="" class="ico"></div>
        <div id="trash_ico_{{recipe.id}}"  value={{recipe.id}} class="trash_ico ico_box " onclick="delete_recipe(this);"><img src="{% static 'main/media/trash.svg' %}" alt="" class="ico"></div>
        </div>
    {% elif type == "browse" %}
     <div id="icons">
        {% if  recipe.copied %}
        <div id="full_hearth_ico_{{recipe.id}}" value={{recipe.id}} class="full_hearth_ico ico_box"  onclick="delete_copy(this);" style="z-index: 1;" > <img src="{% static 'main/media/star-fill.svg' %}" alt="" class="ico on" ></div>
        <div id="empty_hearth_ico_{{recipe.id}}" value={{recipe.id}} class="empty_hearth_ico ico_box"  onclick="copy(this);" ><img src="{% static 'main/media/star.svg' %}" alt="" class="ico"></div>
        {% else %}
        <div id="full_hearth_ico_{{recipe.id}}" value={{recipe.id}} class="full_hearth_ico ico_box" onclick="delete_copy(this);" > <img src="{% static 'main/media/star-fill.svg' %}" alt="" class="ico on" ></div>
        <div id="empty_hearth_ico_{{recipe.id}}" value={{recipe.id}} class="empty_hearth_ico ico_box" onclick="copy(this);" style="z-index: 1;" ><img src="{% static 'main/media/star.svg' %}" alt="" class="ico"></div>
        {% endif %}
    </div>
    {% endif %}
{%endfor%}  