.main_center {
    margin: 0; 
    position: absolute; 
    top: 50%; left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}

body {
  font-family: 'Roboto';
  overflow: hidden;
}

.fill{
    width: 100%;
    height: 100%;
}


.centerIn {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}


.in {
    margin: auto;
    display: block;
    outline-style: auto;
    outline: 3px;
    overflow: hidden;
    outline-color: rgb(219, 218, 218);
} 


.borderSec {
    border-top: 1.5px solid #000000;
    width: 80%;
    height: 100%;
}


.borderSec-ver {
    border-left: 1.5px solid #000000;
    width: 1%;
    height: 80%;
}


.dataPos {
    margin: auto;
    padding-left: 10%;
}


.selected {
    border-style: solid;
    border-color: blueviolet;
    border-radius: 5px;
}

.containerContent{
    display: flex;
}
/* 
.number_edit, .choice_edit {
    height: 20px;
    width: 50px;
}

.choice_edit {
    width: 150px;
}

.text_input_edit {
    height: 24px;
    width: 150px;
}

#icons_edit {
    width: 5%;
    margin-top: 2%;
    position: relative;
    height: 90%;
}

.ico_box_edit {
    width: 100%;
    height: 12%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 13%;
}

.ico_edit {
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.save_icon_edit {
    top:0%;
}

.return_icon_edit {
    top:20%;
} */


.flexContainer{
    display: flex;
}

.wrap{ 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
} 

.column{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.h_border{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h_border_in{
    border-top: 1.5px solid #000000;
    width: 100%;
    height: 50%;
}


.bar{
    width: 100%;
    height: 70%;
    border-style: solid; 
    border-radius: 5px; 
    background-color: rgb(255,255,255);
}

.bar_pr{
    height: 100%;
    width: 60%;
    background-color: green;
    border-radius: 3px;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.v_center{
    display: flex;
    align-items: center
}

.h_center{
    display: flex;
    justify-content: center;
}

.username{
    font-size: 0.9vw;
    margin-bottom: 10%;
}

.username{
    font-size: 1.0vw;
    margin-bottom: 10%;
}

.as{
    font-size: 1.2vw;
}

.recipeTitle{
    margin-left: -3.5%;
    font-size: 1.0vw;
    margin-top: 4%;
}

.recipePosition{
    font-size: 0.8vw;
}

.body{
    overflow: hidden;
}

/* .input_box_edit{
    margin-bottom: 2%;
    height: 20px; 
    width: 100%;
} */

/* .dataTitle{
    margin-bottom: 4%;
    font-size: 1.2vw;
} */

.input_box_edit{
    margin-bottom: 2%;
}

.editIngredients{
    width: 100%;
    height: 50%;
}

.recipeEditTemperatures{
    width: 100%;
    height: 20%;
}

.choose_ing{
    width: 100%;
    height: 20%;
    /* background-color: blue; */
}

.textEdit{
    font-size: 1.0vw;
}

.quan_ing{
    width: 100%;
    height: 20%;
    background-color: blueviolet;
}

.border_v{
    margin-left: 3px;
    border-left: 1.5px solid #000000;
    width: 1%;
}

.names{
    width: 59%;
}

.quantities{
    height: 100%;
    width: 40%;
}

.data{
    justify-content: space-between;
}

.dataTitle{
    margin-top: 2%;
    font-size: 1.25vw;
}

.recipeEditContent{
    width: 90%;
    height: 90%;
}


.choice_edit{
    width: 90%;
    height: 80%;
    font-size: 1.0vw;

}

.number_edit{
    width: 100%;
    height: 20%;
    font-size: 1.0vw;

}

#iconsEdit{
    height: 260px;
    width: 30px;
    margin-left: 110%;
    margin-top: -190%;
}


#returnIcon{
    margin-top: -100%;
}

#iconEdit{
    height: 30px;
    width: 30px;
}

.tel{
    font-size: 1.0vw;
}

.c{
    width: 70px;
    height: 70px;
}

#id1{
    height: 90%;
    width: 0%;
}
