html{
  height: 100%;
}

body
{
  height: 100%;
}

.login{
  background-image:url("/static/login_register/media/Rectangle_left_half.png");
  background-size: 100% 100%;
  background-color:rgba(0, 0, 0, 0.5);
}

.register{
  background-image:url("/static/login_register/media/Rectangle_right_half.png");
  background-size: 100% 100%;
  opacity: 0.6;
}

.main{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 576px) {

  [class*="login"] {
      margin-bottom: 80px;
  }

}

@media (max-width: 576px) {

  [class*="register"] {
      margin-bottom: 80px;
  }
}

.line{
  max-width: 100%;
  max-height: 90%;
}

.test{
  background-color: aqua;
}
