@keyframes highlight {
  0% {
    border-color:white;
  }
  100% {
    border-color: red;
  }
}

#password_reset_box {
    background-color: rgba(245, 245, 245, 0.91);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border: 1px solid rgba(164, 164, 164, 0.91);
    position: relative;
}
a {
    font-family: 'Roboto';
    font-size: small;
    font-weight: 500;
    color: #007aff;
    
}
#error_alert {
    position: fixed;
    width: 100%;
    z-index: 999;
    text-align: center;
}

.register_form{
    display: inline-block;
}



ul{
    margin-bottom: 10px;
}

#e_pass{
  display: none;
}

#e_repass{
  display: none;
}

.eye{
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
  right: 30px;
  top: 6px;
  cursor: pointer;
}

.invalid{
  width: 250px;
  height: 33px;
  border-radius: 3px;
  margin-bottom: 8px;
  border-color: red;
  display:flex;
  border-style: solid;
  padding: .375rem .75rem;
  outline: none;
}

.valid{
  width: 250px;
  height: 33px;
  border-radius: 3px;
  margin-bottom: 8px;
  border-color: rgb(23, 170, 23) !important;
  display:inline-block;
  border-style: solid;
  padding: .15rem .75rem;
}

.valid:focus{
  outline: 0;
  border-style: solid;
}


.invalid-text{
  color: red;
  font-size: 13px;
}

.valid-text{
  color: green;
}

.register-re-password{
    display: flex;
}

h3{
    position:relative;
    bottom: 50px;
}